# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other files and folders
*.db
*.user
*.vc.vc.opendb
*.vcxproj.user
*.filters
.vs/
.vscode
bin/
bin64/
build/
ipch/
ShakeFigures/Debug/
ShakeFigures/Release/
ShakeFigures/x64/
Serspec/x64/Debug/
Serspec/win32/Debug/
Serspec/x64/Release/
Serspec/win32/Release/
browsersBenchmark/obj/Debug/
browsersBenchmark/obj/Release/
EfficientStore/.DS_Store
EfficientStore/.vscode/
EfficientStore/cpp/.DS_Store
EfficientStore/cpp/build/
image-to-grayscale/cpp_addon/build/
image-to-grayscale/node_modules/
image-to-grayscale/build/
/image-to-grayscale/image_server/
/image-to-grayscale/cpp/
/image-to-grayscale/cpp_addon/
/image-to-grayscale/cpp/build/Release
/image-to-grayscale/cpp/build/Debug
/image-to-greyscale/obj/
/image-to-greyscale/node_modules
/image-to-greyscale/Release
