# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other files and folders
*.db
*.user
*.vc.vc.opendb
*.vcxproj.user
*.filters
.vs/
bin/
bin64/
ipch/
ShakeFigures/Debug/
ShakeFigures/Debug/ShakeFigures.tlog/
ShakeFigures/Release/
ShakeFigures/x64/
Serspec/x64/Debug/
Serspec/win32/Debug/
Serspec/x64/Release/
Serspec/win32/Release/
browsersBenchmark/obj/Debug/
browsersBenchmark/obj/Release/
image-to-grayscale/build/
image-to-grayscale/image_server/
image-to-grayscale/cpp/
image-to-grayscale/cpp_addon/
image-to-grayscale/cpp/build/Release
image-to-grayscale/obj/
image-to-grayscale/node_modules
image-to-grayscale/Release
/image-to-greyscale/cpp_addon/build/Release
